.main {
  color: #fefefe;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main__welcome {
  font-size: 1.25rem;
  letter-spacing: 5px;
}

.main__heading {
  font-size: 5.5rem;
  letter-spacing: 1px;
  text-align: center;
  width: 39%;
  font-weight:500;
}

.main__heading span.genesius {
  font-size: 7rem;
  background: linear-gradient(
    90.08deg,
    #5300ff 25.83%,
    rgba(255, 0, 214, 0.9) 92.57%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
}
.main__heading span.web3{
    font-size: 4rem;
}

.socials{
    position: absolute;
    right: 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.social__link:hover {
  transform: translate(-.25rem, 0);
  transition: 300ms ease-in-out;
}

.main .scroll__gif{
  width: 12rem;
  object-fit: contain;
  margin-top: 2rem;
}

.three{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: #fefefe;
  flex-direction: column;
  margin-top: -5rem;
  margin-bottom: 10rem;
}

.three span{
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.three h3{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.three .three__cards{
  display: flex;
  gap: 4rem;
  align-items: center;
}

.hot{
  margin-bottom: 10rem;
}

.hot h2{
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 4rem;
}

.hot__cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.hot__left{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hot__left-bottom{
  display: flex;
  gap: 2rem;
}

.new{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin-bottom: 10rem;
}

.trust{
  display: flex;
  flex-direction: column;
  height: 90vh;
  gap: 3rem;
  color: #fefefe;
  margin-bottom: 10rem;
  align-items: center;
  justify-content: center;
}

.trust__top h3{
  font-size: 3rem;
}

.trust__top p{
  font-size: 1.25rem;
  font-weight: 300;
  width: 90%;
}

.trust__top{
  display: flex;
  justify-content: center;
}

.trust__top-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trust__bottom{
  display: flex;
  justify-content: space-between;
  gap: 9rem;
}

.newsletter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  margin-bottom: 10rem;
}

.newsletter h2{
  font-size: 2.5rem;
  color: #fefefe;
  margin-bottom: 2rem;
}

.newsletter .form-control{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.home__accordion{
  height: 50vh;
  color: #fefefe;
  display: flex;
  justify-content: space-between;
  padding: 0 7.5rem;
  gap: 3rem;
}

.home__accordion h2{
  font-size: 4rem;
}

.home__footer{
  position: relative;
  height: 40vh;
  overflow: hidden;
}

.home__footer > img{
  position: absolute;
  width: 100%;
  right: -5rem;
  bottom: 0;
  height: 100%;
  z-index: -2;
}