.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5.5rem;
}

.navbar__link{
    font-size: 1.25rem;
    text-decoration: none;
    color: #fefefe;
}

.navbar__logo{
    font-size: 1.75rem;
    background: linear-gradient(90.08deg, #5300FF 25.83%, rgba(255, 0, 214, 0.9) 92.57%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-weight: 600;
}

.navbar__links{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}